.v-splitpanel-hsplitter,
.v-splitpanel-hsplitter-locked {
	background-repeat: repeat-y;
	width: 7px;
	background-image: url(img/hor-bg.png); /** sprite-ref: horizontals; sprite-alignment: repeat */
}
.v-splitpanel-hsplitter div {
	width: 7px;
	height: 100%; /* ---------- for opera ---------- */
	background: transparent;
	background-position: 50%;
	background-repeat: no-repeat;
	background-image: url(img/hor-handle.png); /** sprite-ref: horizontals; sprite-alignment: center */
}
.v-splitpanel-vsplitter,
.v-splitpanel-vsplitter-locked {
	background-repeat: repeat-x;
	height: 7px;
	background-image: url(img/ver-bg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
}
.v-splitpanel-vsplitter div {
	background: transparent;
	background-position: 50%;
	background-repeat: no-repeat;
	height: 7px;
	background-image: url(img/ver-handle.png); /** sprite-ref: verticals; sprite-alignment: center */
}


/* ---------- Splitpanels on blue background ---------- */
.blue .v-splitpanel-hsplitter-small,
.blue .v-splitpanel-hsplitter-small-locked {
	background: #7c8a91;
}

/* ---------- Splitpanels on black background ---------- */
.black .v-splitpanel-hsplitter-small,
.black .v-splitpanel-hsplitter-small-locked {
	background: #4e5253;
}

/* ---------- Small style ---------- */
.v-splitpanel-hsplitter-small,
.v-splitpanel-hsplitter-small-locked,
.white .v-splitpanel-hsplitter-small,
.white .v-splitpanel-hsplitter-small-locked {
	background: #949698;
	width: 1px;
}
.v-splitpanel-vsplitter-small,
.v-splitpanel-vsplitter-small-locked,
.white .v-splitpanel-vsplitter-small,
.white .v-splitpanel-vsplitter-small-locked {
	background: #949698;
	height: 1px;
}
.v-splitpanel-hsplitter-small div {
	background: transparent;
	margin-left: -2px;
	width: 5px;
}
.v-splitpanel-vsplitter-small div {
	background: transparent;
	height: 5px;
	margin-top: -2px;
}