/* ---------- Colors ---------- */

$blue: #3D8CCB;
$darkBlue: #1D6BAA;
$lightBlue: #96C5EA;
$lighterBlue: #CFE4F6;

$darkGrey: #444;
$grey: #5E5E5E;
$lightGrey: #959595;
$lighterGrey: #C8C8C8;
$lightestGrey: #EFEFEF;

$darkOrange: #D08529;
$lightOrange: #F9BD7C;
$lighterOrange: #FBDEBE;
$orange: #F79E3C;

$darkPurple: #684986;
$lightPurple: #C4B3D5;
$lighterPurple: #E7DFED;
$purple: #815FA8;

$darkRed: #94302C;
$lightRed: #E17C7A;
$lighterRed: #F0BEBC;
$red: #D44440;

$brightTeal: #0AB0A5;
$darkTeal: #2B8F8C;
$darkerTeal: #044D48;
$lightTeal: #A6DCE0;
$lighterTeal: #C1E6EE;
$teal: #2FBEC1;

$white: #FFF;