.kaleo-forms-admin-portlet .kaleo-process-assign-form-button {
  width: 122px; }
.kaleo-forms-admin-portlet .kaleo-process-buttons .btn {
  margin-left: 5px; }
.kaleo-forms-admin-portlet .kaleo-process-export-dialog .modal-content .modal-body .checkbox {
  margin-bottom: 0; }
.kaleo-forms-admin-portlet .kaleo-process-export-dialog .modal-content .modal-footer {
  margin-top: 0; }
.kaleo-forms-admin-portlet .kaleo-process-header {
  line-height: 10px; }
.kaleo-forms-admin-portlet .kaleo-process-message {
  color: #CCC;
  font-style: italic;
  margin-bottom: 20px; }
.kaleo-forms-admin-portlet .separator {
  border-width: 0;
  margin-top: 1.5em; }
.kaleo-forms-admin-portlet .lfr-editor-textarea {
  min-height: 8em;
  min-width: 30em; }
.kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav {
  margin: 6px 0 20px 0; }
  .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab .tab-label .message, .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.section-error .tab-label .message {
    color: #8D8D8D;
    font-size: 15px; }
  .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab .tab-label .number, .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.section-error .tab-label .number {
    background: #F4F4F4;
    color: #8D8D8D; }
  .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.active .tab-label .message, .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.active.section-error .tab-label .message, .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.active .tab-label .message, .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.active.section-success .tab-label .message {
    color: #009AE5;
    font-size: 15px;
    font-weight: bolder; }
  .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.active .tab-label .number, .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.active.section-error .tab-label .number, .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.active .tab-label .number, .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.active.section-success .tab-label .number {
    background: #009AE5;
    color: #FFF; }
  .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.section-success .tab-label .message {
    color: #80CCF2; }
  .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.section-success .tab-label .number {
    background: #FFF;
    color: #80CCF2; }

/* ---------- Extras ---------- */
.kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab .tab-label .number, .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.section-error .tab-label .number {
  -webkit-box-shadow: 0 0 5px 0 #8d8d8d;
  -moz-box-shadow: 0 0 5px 0 #8d8d8d;
  box-shadow: 0 0 5px 0 #8d8d8d; }
.kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.active .tab-label .number, .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.active.section-error .tab-label .number, .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.active .tab-label .number, .kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.active.section-success .tab-label .number {
  -webkit-box-shadow: 0 0 5px 0 #009ae5;
  -moz-box-shadow: 0 0 5px 0 #009ae5;
  box-shadow: 0 0 5px 0 #009ae5; }
.kaleo-forms-admin-portlet .form .taglib-form-navigator > .form-steps > ul.form-navigator.nav .tab.section-success .tab-label .number {
  -webkit-box-shadow: 0 0 5px 0 #80ccf2;
  -moz-box-shadow: 0 0 5px 0 #80ccf2;
  box-shadow: 0 0 5px 0 #80ccf2; }

