.v-upload {
	white-space: nowrap;
}

.v-ie6 .v-upload,
.v-ie7 .v-upload {
	margin:0;
}

.v-upload-immediate {
	margin: 0;
	overflow: hidden;
	position: relative;
}

.v-ff .v-upload-immediate,
.v-op .v-upload-immediate {
	display: inline-block;
}

.v-upload-immediate input {
	background: transparent;
	border: none;
	filter: alpha(opacity=0);
	height: 21px;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	z-index: 2;
}

.v-upload-immediate button {
	left: 0;
	position: relative;
	text-align: left;
	top: 0;
	width: 100%;
}
  